<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Alternative Hexadecimal Editor"
            extensions="mpe"
            icon="icons/hexicon1.png"
            contributorClass="hexeditor.editors.MultiPageEditorContributor"
            class="hexeditor.editors.MultiPageEditor"
            id="hexeditor.editors.MultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="HexEditor">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/hexicon1.png"
            category="HexEditor"
            class="hexeditor.wizards.SampleNewWizard"
            id="hexeditor.wizards.SampleNewWizard">
      </wizard>
   </extension>

</plugin>
